body {
  font-family: 'Bungee', cursive;
  margin: 0;
  background-color: #343F56;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header{
  height: 8rem;
  width: 100%;
  color: #DD4A48;
  background-color: #343F56;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

header h1{
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-emphasis: open;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77%;
  width: 60%;
  margin: 0 10%;
  margin-top: 5rem;
  background-color: #C0D8C0;
  border: 10px solid #DD4A48;
  border-radius: 20px;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #F5EEDC;
  border: 1px solid #999;
  float: left;
  font-size: 11rem;
  font-weight: bold;
  line-height: 34px;
  height: 11.7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 11.7rem;
  color: #F54748;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.game-board {
  width: 35rem;
  height: 35rem;
  position: absolute;
  top: 15rem;
}


li:first-child {
  display: unset;
}



li {
  display: none;
}




.playerstatus{
  position: relative;
  top: -18.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #F54748;
}


.hidewinbtn{

  display: none;
}

.win{
  display: flex;
  position: relative;
  cursor: pointer;
  height: 4rem;
  width: 29rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Bungee';
  border: 5px solid #F54748;
  border-radius: 20px;
  background-color: #F5EEDC;
  color: #343F56;
}

.winboard{
  filter: blur(9px);
  opacity: 51%;
}

.wintext{

  position: relative;
  top: -0.5rem;
  left: 3rem;
  text-transform: uppercase;
  color: #343F56;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-style: dotted;
}


@media (max-width:1180px) {
  main{
    width: 100%;
    margin: 0;
  }
}