body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header{
  height: 8rem;
  width: 100%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

header img{
  height: 6rem;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 10%;
  background-color: orange;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 11rem;
  font-weight: bold;
  line-height: 34px;
  height: 11.7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 11.7rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.game-board {
  width: 35rem;
  height: 35rem;
  position: absolute;
  top: 15rem;
  background: rebeccapurple;
}


li:first-child {
  display: unset;
}



li {
  display: none;
}


.game-info div {
position: relative;
top: -17rem;
font-size: 3rem;
text-transform: uppercase;
}



.hidewinbtn{

  display: none;
}

.win{
  display: flex;
  position: relative;
  cursor: pointer;
}